body {
  background-color: #191716;
  color: white; 
  margin: 0;
  padding: 20px; /* Add padding for spacing */
  font-family: monospace;
  text-align: center; /* Center the h1 text */
}

.logo img{
  width: 20%;
  margin-bottom: 2%;
}

.logo:hover{
  filter: drop-shadow(0 0 10px #7190ba);
}


h1 {
  margin-bottom: 20px; /* Add space between the h1 and the grid */
  font-size: 40px;
  text-align: left;
  font-size: 50px;
}


h2{
  text-align: left;
  font-style: italic;
}

.collection{
  width: 70%; /* Grid width set to 70% of the screen */
  margin: 0 auto; /* Center the grid within its parent (body) */
}



.new-york {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Space between grid items */

}

.ny-item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1; /* Ensures grid items are square */
  
}


.ny-item:hover{
  filter: drop-shadow(0 0 10px #7190ba);
}

.ny-item img {
  width: 100%; /* Responsive image */
  height: 100%; /* Cover the item */
  object-fit: cover; /* Maintain aspect ratio */
}


.cold-water {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Space between grid items */
}


.cold-item {
  position: relative; /* Position for absolute elements inside */
  overflow: hidden; /* Hide overflow */
}

.cold-item img {
  width: 100%; /* Responsive image */
  height: 100%; /* Cover the item */
  object-fit: cover; /* Maintain aspect ratio */
}

.cold-item:hover{
  filter: drop-shadow(0 0 10px #7190ba);
}






.nav {
  display: flex; /* Align items in a row */
  gap: 10px; /* Add spacing between items */
}

.top-links a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 16px;
  position: relative;
}

.top-links a::after {
  content: '|'; /* Adds the separator */
  margin-left: 10px; /* Space between link and separator */
}

.top-links:last-child a::after {
  content: ''; /* Removes the separator after the last link */
}

.top-links:hover{
  filter: drop-shadow(0 0 10px white);
}


.socials {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: left;
}

.socials a {
  display: block; /* Make each link take up a full line */
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.socials a:hover {
  filter: drop-shadow(0 0 10px white);
}


.socials img{
  width: 3%;
}


.copyright {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}





