body {
  background-color: #191716;
  color: white; 
  margin: 0;
  padding: 20px; /* Add padding for spacing */
  font-family: monospace;
  text-align: center; /* Center the h1 text */
}


.logo img{
  width: 20%;
  margin-bottom: 2%;

}

.logo:hover{
  filter: drop-shadow(0 0 10px white);
}

h1 {
  margin-bottom: 20px; /* Add space between the h1 and the grid */
  font-size: 40px;
  text-align: left;
  font-size: 50px;
}


.nav {
  display: flex; /* Align items in a row */
  gap: 10px; /* Add spacing between items */
}

.top-links a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 16px;
  position: relative;
}

.top-links a::after {
  content: '|'; /* Adds the separator */
  margin-left: 10px; /* Space between link and separator */
}

.top-links:last-child a::after {
  content: ''; /* Removes the separator after the last link */
}

.top-links:hover{
  filter: drop-shadow(0 0 10px white);
}


.socials {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: left;
}

.socials a {
  display: block; /* Make each link take up a full line */
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.socials a:hover {
  filter: drop-shadow(0 0 10px white);
}


.socials img{
  width: 3%;
}


.copyright {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}





/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

/* Hide slides by default */
.mySlides {
  display: none;
}

/* Image styles */
.mySlides img {
  width: 100%;
  border-radius: 10px; /* Optional styling */
}

/* Fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next" button to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add background color to arrows */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Dot navigation (optional) */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
